:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    display: grid;
    grid-template-row: 1fr;
    grid-template-column: 1fr;

    height: 100vh;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;

    display: grid;
    grid-template: 
        ' . chat-box .' 30rem 
        ' . msg-form .' min-content /
        15rem 1fr 15rem;

    justify-items: center;
    align-content: center;
    gap: 1em;
}

div#chat-box {
    grid-area: chat-box;
    border: 2px white solid;
    display: block;
    
    width: 100%;
}

form#send-message-form {
    grid-area: msg-form;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 100%;
}

input#send-message-btn {
    font: unset;
}

input#send-message-text {
    font: unset;
}
